body { background-color: #ffffcc; }
h1 { text-align: center; }
code, pre, tt, kbd, samp { color: navy; }
pre {
  border: thin solid;
  padding: 4px;
  white-space: pre;
}
.red { color: red; }
dt { font-weight: bold; }
p, dl, ul, ol {
  line-height: 120%;
}
